.select-type {
    width: 100px;
}

.costlist {
    margin-top: 20px;
}

.emptybody {
    text-align: center !important;
}

.cost-add-paper {
    margin-top: 20px;
    padding: 20px;
}

.cost-add-input {
    margin-right: 10px !important;
}

.tally-paper {
    padding-bottom: 10px;
}
